################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankApp/bin/Debug/netcoreapp2.1
/BankApp/obj
/.vs
